@import url("fonts.css");
@import url("highlight.css");

* {
  box-sizing: border-box;
}

:root {
  --font-mono: "DejaVu Sans Mono", monospace;
  --header-height: 70px;
  --margin: 30px 0;
  --gray: #eee;
}

html {
  font-size: 16px;
  height: 100%;
  scroll-padding-top: calc(var(--header-height) + 10px);
}

body {
  margin: 0;
  color: #222;
  font-family: "Ubuntu", sans-serif;
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 20px;
  display: grid;
  grid-template:
    "header ." auto
    "main sidebar" 1fr / 1fr 200px;
  gap: 10px 30px;
}

header {
  height: var(--header-height);
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: white;
  column-gap: 30px;
  grid-area: header;
}

header a {
  color: inherit;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  opacity: 0.8;
}

#logo img {
  height: 1.6em;
}

#logo strong {
  font-size: 1.4em;
  color: #000;
}

header nav {
  display: flex;
  align-items: center;
  gap: 10px 20px;
  white-space: nowrap;
}

header ul {
  display: contents;
}

header li {
  display: contents;
}

#sidebar {
  font-size: 0.9rem;
  position: sticky;
  top: calc(var(--header-height) + 10px);
  height: calc(100vh - var(--header-height) - 30px);
  overflow-y: auto;
  grid-area: sidebar;
  padding-right: 10px;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar a {
  color: inherit;
}

.nav-section {
  color: #333;
  margin: 0;
}

.nav-section + .nav-section {
  margin-top: 18px;
}

#sidebar ul ul {
  margin-top: 4px;
  padding-left: 8px;
}

main {
  min-width: 0; /* Don't let wide code blocks overflow */
  grid-area: main;
  padding-bottom: 20px;
}

p {
  line-height: 1.6;
  margin-block: 20px 0;
}

ul {
  margin-block: 20px 0;
}

li {
  margin-block: 10px 0;
}

code,
pre,
kbd {
  font-family: var(--font-mono);
}

a {
  text-decoration: none;
  color: #2868ff;
}

h1,
h2,
h3 {
  break-after: avoid;
  color: #333;
}

h1 a,
h2 a,
h3 a {
  color: inherit;
}

h1 {
  font-size: 1.3rem;
  margin-block: 0;
}

h2 {
  font-size: 1.2rem;
  margin-block: 40px 0;
}

h3 {
  font-size: 1.1rem;
  margin-block: 40px 0;
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/kbd */

kbd {
  background-color: var(--gray);
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1;
  padding: 2px 4px;
}

hr {
  border: none;
  background-color: var(--gray);
  height: 2px;
  margin-block: 50px;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-inline: auto;
  background-color: white;
  margin-block: var(--margin);
}

tbody tr:nth-child(odd) {
  background-color: var(--gray);
}

th,
td {
  border: 2px solid #ddd;
  padding: 5px 10px;
}

aside,
blockquote {
  display: flow-root; /* prevent child margin collapse */
  padding: 20px;
  border: 2px solid var(--gray);
  margin: 30px 0;
}

blockquote {
  background-color: #f7f7f7;
}

blockquote > :first-child,
aside > :first-child {
  margin-top: 0;
}

pre {
  padding: 10px 12px;
  overflow: auto;
  background-color: #f1f1f1;
  border: 2px solid #e1e1e1;
  color: #333;
  margin-block: var(--margin);
}

pre:has(code.ptls) {
  background-color: #fef5ea;
  border-color: #f7e3ca;
}

pre code {
  background-color: transparent;
  padding: 0;
  white-space: pre;
}

pre + .result {
  margin-top: 10px;
}

code {
  background-color: #ffeed9;
  padding: 1px 4px;
}

kbd,
code {
  white-space: nowrap;
}

pre,
code {
  font-size: 0.9rem;
}

.result .var-name {
  font-size: 0.8rem;
  font-family: monospace;
  color: #777;
  font-weight: bold;
  margin: -10px -10px -2px;
  padding: 10px;
}

.panic {
  background-color: #fee4e4;
  border-color: #f1c1c1;
}

pre,
blockquote,
table,
.snippet {
  break-inside: avoid;
}

pre,
code,
blockquote,
kbd,
#sidebar {
  border-radius: 3px;
}

@media (width <= 800px) {
  body {
    display: block;
    padding: 0px 10px 10px;
  }

  header {
    height: auto;
    grid-template-columns: auto;
    row-gap: 10px;
    padding-block: 10px;
    position: sticky;
    top: 0;
  }

  #logo {
  }

  header nav {
    justify-content: center;
    align-items: normal;
    padding: 0;
    flex-wrap: wrap;
  }

  #container {
    display: block;
  }

  #sidebar {
    padding-bottom: 0;
    position: static;
    height: auto;
  }

  main {
    display: block;
    padding: 20px 0 0;
  }

  kbd,
  code {
    white-space: normal;
  }
}

@media print {
  header {
    display: none;
  }

  #sidebar {
    display: none;
  }

  main {
    display: block;
    padding: 0;
  }

  pre code {
    white-space: pre-wrap;
  }
}
