@import url("fonts.css");
@import url("desktop.css");
@import url("print.css");
@import url("mobile.css");
@import url("highlight.css");

* {
  box-sizing: border-box;
}

:root {
  --font-mono: "DejaVu Sans Mono", monospace;
  --header-height: 70px;
  --margin: 30px 0;
  --gray: #eee;
}
