html {
  font-size: 16px;
  height: 100%;
  scroll-padding-top: 60px;
}

body {
  margin: 0;
  color: #222;
  font-family: "Ubuntu", sans-serif;
  max-width: 1100px;
  margin-inline: auto;
  padding: 20px;
  display: grid;
  grid-template:
    "header header header" auto
    "title title sidebar" auto
    "main main sidebar" 1fr
    / auto 1fr 250px;
  gap: 30px;
}

header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  background-color: white;
  padding-block: 10px;
  grid-area: header;
}

header a {
  color: inherit;
}

#logo {
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 0.8;
}

#logo img {
  height: 1.6em;
}

#logo strong {
  font-size: 1.4em;
  color: #000;
}

nav {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: right;
  gap: 10px 20px;
}

nav ul,
nav li {
  display: contents;
}

#sidebar {
  grid-area: sidebar;
  border-left: 2px solid #eee;
  padding: 4px 20px;
  height: min-content;
  font-size: 0.9rem;
  font-weight: bold;
  color: #555;
}

#sidebar ol,
#sidebar ul {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 10px;
}

#sidebar li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar li::before {
  content: "#";
  margin-right: 2px;
}

#sidebar a {
  color: inherit;
}

#sidebar code {
  padding: 0;
  background-color: transparent;
}

article {
  display: contents;
}

h1 {
  font-size: 1.6rem;
  margin: 0;
  grid-area: title;
}

main {
  min-width: 0; /* Don't let wide code blocks overflow */
  grid-area: main;
}

main > hr:first-child {
  display: none;
}

main > hr:first-child + *,
main > :first-child {
  margin-top: 0;
}

p {
  line-height: 1.5;
  margin-block: var(--margin);
}

ul,
ol {
  margin-block: var(--margin);
}

li {
  margin-block: calc(var(--margin) / 3) 0;
}

code,
pre,
kbd {
  font-family: var(--font-mono);
}

a {
  text-decoration: none;
  color: #2868ff;
}

h1,
h2,
h3 {
  break-after: avoid;
  color: #444;
}

h1 a,
h2 a,
h3 a {
  color: inherit;
}

h2 {
  font-size: 1.4rem;
  margin-block: var(--margin);
}

h3 {
  font-size: 1.2rem;
  margin-block: var(--margin);
}

h2 code,
h3 code {
  padding: 0;
  background-color: transparent;
  font-size: 0.9em;
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/kbd */

kbd {
  background-color: var(--gray);
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1;
  padding: 2px 4px;
}

hr {
  border: none;
  background-color: var(--gray);
  height: 2px;
  margin-block: calc(var(--margin) * 1.5);
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-inline: auto;
  background-color: white;
  margin-block: var(--margin);
}

tbody tr:nth-child(odd) {
  background-color: var(--gray);
}

th,
td {
  border: 2px solid #ddd;
  padding: 5px 12px;
}

blockquote {
  padding: 20px;
  border: 2px solid var(--gray);
  margin: var(--margin) 0;
  background-color: #f7f7f7;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

pre {
  padding: 14px;
  overflow: auto;
  background-color: #f1f1f1;
  border: 2px solid #e1e1e1;
  margin-block: var(--margin);
  font-size: 0.9rem;
}

pre:has(code.ptls) {
  background-color: #fef5ea;
  border-color: #f7e3ca;
}

code {
  background-color: #ffeed9;
  padding: 1px 4px;
  font-size: 0.9rem;
}

pre code {
  font-size: inherit;
  background-color: transparent;
  padding: 0;
  white-space: pre;
  color: #444;
}

.snippet {
  margin-block: var(--margin);
}

.snippet pre {
  margin-block: 0;
}

.snippet .result {
  margin-top: 8px;
}

kbd,
code {
  white-space: nowrap;
}

.result .var-name {
  font-size: 0.8rem;
  font-family: monospace;
  color: #777;
  font-weight: bold;
  margin: -10px;
  padding: 10px 10px 14px;
}

.panic {
  background-color: #fee4e4;
  border-color: #f1c1c1;
}

pre,
blockquote,
table,
.snippet {
  break-inside: avoid;
}

pre,
code,
blockquote,
kbd {
  border-radius: 3px;
}
