.ptls .call,
.ptls .std {
  color: #256bd7;
}

.ptls .string {
  color: #387a13;
}

.ptls .comment {
  color: #707070;
}

.ptls .keyword,
.ptls .interpolated,
.ptls .escape {
  color: #a34baf;
}

.ptls .function {
  color: #027e7e;
}

.ptls .argument,
.ptls .number {
  color: #a95f00;
}

.ptls .operator,
.ptls .constant {
  color: #c14a1c;
}
