@media (width <= 1100px) {
  body {
    grid-template-columns: auto 5fr 2fr;
  }
}

@media (width <= 900px) {
  body {
    grid-template:
      "header header" auto
      "title title" auto
      "sidebar sidebar" 1fr
      "main main" auto
      / auto 1fr;
  }

  header {
    padding: 0;
  }

  nav {
    justify-content: left;
  }

  #sidebar {
    margin-left: 12px;
  }
}

@media (width <= 600px) {
  html {
    scroll-padding-top: 20px;
  }

  body {
    grid-template:
      "header" auto
      "header" auto
      "title" auto
      "sidebar" auto
      "main" 1fr
      / 1fr;
  }

  header {
    padding: 0;
    gap: 20px;
  }

  #logo {
    margin-inline: auto;
  }

  nav {
    justify-content: center;
  }

  #sidebar {
    margin-left: 0;
  }

  kbd,
  code {
    white-space: normal;
  }
}
