@import url("base.css");

#sidebar {
  font-family: var(--font-mono);
  font-size: 1rem;
}

.def-name {
  display: inline-block;
}

.nav-section li {
  font-size: 0.9rem;
  margin: 0;
  display: grid;
  grid-template-columns: 8px 1fr;
  gap: 6px;
  align-items: center;
}

h2,
h3 {
  font-family: var(--font-mono);
}

.tag {
  font-weight: bold;
  padding: 2px 6px;
  margin-inline: 1px;
  border-radius: 3px;
  cursor: help;
  display: inline-block;

  &[title="Global"] {
    background-color: #ffdab3;
    color: #c2803b;

    &::before {
      content: "G";
    }
  }

  &[title="Overloaded"] {
    background-color: #ead9ff;
    color: #b77ecd;

    &::before {
      content: "O";
    }
  }

  &[title="Constant"] {
    background-color: #c6e5ff;
    color: #4f99e8;

    &::before {
      content: "C";
    }
  }
}

.nav-section .tag {
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 4px;

  &::before {
    display: none;
  }

  &[title="Global"] {
    background-color: #ffc689;
  }

  &[title="Overloaded"] {
    background-color: #d4b0ff;
  }

  &[title="Constant"] {
    background-color: #a1d2fb;
  }
}

.contents {
  margin-left: 24px;
}
