@import url("base.css");

.contents {
  margin-left: 24px;
}

.def-name {
  font-size: 1.16rem;
}

#sidebar ul {
  gap: 6px;
}

#sidebar li {
  align-items: center;
}

#sidebar li::before {
  display: none;
}

.tag {
  font-weight: bold;
  font-size: 0.9em;
  padding: 1px 6px 2px;
  margin-inline: 1px;
  border-radius: 3px;
  cursor: help;
  display: inline-block;

  &[title="Global"] {
    background-color: #ead9ff;
    color: #b77ecd;

    &::before {
      content: "G";
    }
  }

  &[title="Overloaded"] {
    background-color: #ffdab3;
    color: #c2803b;

    &::before {
      content: "O";
    }
  }

  &[title="Constant"] {
    background-color: #c6e5ff;
    color: #4f99e8;

    &::before {
      content: "C";
    }
  }
}

#sidebar .tag {
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 4px;

  &::before {
    display: none;
  }

  &[title="Global"] {
    background-color: #d4b0ff;
  }

  &[title="Overloaded"] {
    background-color: #ffc689;
  }

  &[title="Constant"] {
    background-color: #a1d2fb;
  }
}
