* {
  box-sizing: border-box;
}

:root {
  --font-mono: "DejaVu Sans Mono", monospace;
  --margin: 28px;
  --text: #222;
  --gray: #eee;
  --link: #346bed;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "DejaVu Sans Mono";
  src: url("/fonts/DejaVuSansMono.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DejaVu Sans Mono";
  src: url("/fonts/DejaVuSansMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 16px;
  height: 100%;
  scroll-padding-top: 20px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  color: var(--text);
  font-family: "Ubuntu", sans-serif;
  max-width: 1100px;
  min-height: 100vh;
  margin-inline: auto;
  padding: 24px;
  display: grid;
  grid-template:
    "header header header" auto
    "title title sidebar" auto
    "main main sidebar" 1fr
    / auto 1fr 250px;
  gap: 28px 30px;
}

header {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  background-color: white;
  grid-area: header;
}

header a {
  color: inherit;
}

#logo {
  display: flex;
  align-items: center;
  gap: 4px;
  opacity: 0.8;
  font-size: 1.4em;
  color: #000;
  font-weight: bold;
}

#logo img {
  height: 1.2em;
  width: 1.2em;
}

nav {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: right;
  gap: 10px 20px;
}

nav ul,
nav li {
  display: contents;
}

#title {
  grid-area: title;
}

#title h1 {
  display: inline-block;
  font-size: 1.55rem;
  margin: 0;
}

#title p {
  font-size: 0.95rem;
  margin: 5px 1px 0;
  color: #444;
}

#title code {
  padding: 0;
  background: none;
  font-weight: bold;
}

#sidebar {
  grid-area: sidebar;
  border-left: 2px solid #eee;
  padding: 4px 0 4px 18px;
  height: min-content;
  font-size: 0.9rem;
  font-weight: bold;
  color: #555;
}

#back {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#sidebar ol,
#sidebar ul {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 4px;
}

#sidebar li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar a[href^="#"] {
  color: var(--text);
  font-weight: normal;
}

#sidebar li:has(a[href^="#"])::before {
  content: "-";
  color: var(--text);
  font-weight: normal;
  margin-right: 2px;
}

#sidebar li:has(a[href^=".."])::before {
  content: "<";
}

.page-links {
  padding: 0;
  list-style: none;
}

.page-links p {
  margin: 0;
}

.page-links li + li {
  margin-top: 30px;
}

.page-links strong {
  margin-bottom: 8px;
  display: inline-block;
  font-size: 1.1rem;
}

.page-links a {
  display: block;
}

article {
  display: contents;
}

main {
  min-width: 0; /* Don't let wide code blocks overflow */
  grid-area: main;
}

main > hr:first-child {
  display: none;
}

main > hr:first-child + *,
main > :first-child {
  margin-top: 0;
}

p {
  line-height: 1.5;
  margin-block: var(--margin);
}

ul,
ol {
  margin-block: var(--margin);
}

li {
  margin-block: calc(var(--margin) / 3) 0;
  line-height: 1.5;
}

code,
pre,
kbd {
  font-family: var(--font-mono);
}

a {
  text-decoration: none;
  color: var(--link);
}

h1,
h2,
h3 {
  break-after: avoid;
  color: #444;
}

h1 a[href^="#"],
h2 a[href^="#"],
h3 a[href^="#"] {
  color: inherit;
}

h2 {
  font-size: 1.3rem;
  margin-block: var(--margin);
}

h3 {
  font-size: 1.1rem;
  margin-block: var(--margin);
}

h2 code,
h3 code {
  padding: 0;
  background-color: transparent;
  font-size: 0.9em;
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/kbd */

kbd {
  background-color: var(--gray);
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1;
  padding: 2px 4px;
}

hr {
  border: none;
  background-color: var(--gray);
  height: 2px;
  margin-block: calc(var(--margin) * 1.4);
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-inline: auto;
  background-color: white;
  margin-block: var(--margin);
}

tbody tr:nth-child(odd) {
  background-color: var(--gray);
}

th,
td {
  border: 2px solid #ddd;
  padding: 5px 12px;
}

blockquote {
  padding: 20px;
  border: 2px solid var(--gray);
  margin: var(--margin) 0;
  background-color: #f7f7f7;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

pre {
  padding: 14px;
  overflow: auto;
  background-color: #f1f1f1;
  border: 2px solid #e1e1e1;
  margin-block: var(--margin);
  font-size: 0.9rem;
}

pre:has(code.ptls) {
  background-color: #fef5ea;
  border-color: #f7e3ca;
}

code {
  background-color: #ffeed9;
  padding: 1px 4px;
  font-size: 0.9rem;
}

pre code {
  font-size: inherit;
  background-color: transparent;
  padding: 0;
  white-space: pre;
  color: #444;
}

pre.wrap code {
  white-space: pre-wrap;
}

.snippet {
  margin-block: var(--margin);
}

.snippet.yes::after,
.snippet.no::after {
  align-content: center;
  color: #aaa;
  font-size: 0.9rem;
  white-space: pre;
  font-family: var(--font-mono);
}

.snippet.yes::after {
  content: "yes";
}

.snippet.no {
  margin-top: -16px;
}

.snippet.no::after {
  content: "no ";
}

.snippet.yes,
.snippet.no {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}

.snippet pre {
  margin-block: 0;
}

.snippet .result {
  margin-top: 8px;
}

.var-name {
  font-size: 0.8rem;
  font-family: var(--font-mono);
  color: #777;
  font-weight: bold;
  margin: -10px -10px -6px;
  padding: 10px 10px 14px;
}

.panic {
  background-color: #fee4e4;
  border-color: #f1c1c1;
}

kbd,
code {
  white-space: nowrap;
}

pre,
blockquote,
table,
.snippet {
  break-inside: avoid;
}

pre,
code,
blockquote,
kbd {
  border-radius: 3px;
}

.contents {
  margin-left: 24px;
}

.def-name {
  font-size: 1.16rem;
}

#sidebar .std li::before {
  display: none;
}

.tag {
  font-weight: bold;
  font-size: 0.95rem;
  padding: 1px 4px;
  margin-inline: 1px;
  border-radius: 3px;
  cursor: help;
  display: inline-block;

  &[title="Global"] {
    background-color: #ead9ff;
    color: #b77ecd;

    &::before {
      content: "Global";
    }
  }

  &[title="Constant"] {
    background-color: #c6e5ff;
    color: #4f99e8;

    &::before {
      content: "Constant";
    }
  }
}

#sidebar .tag {
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-top: 5px;

  &::before {
    display: none;
  }

  &[title="Global"] {
    background-color: #d4b0ff;
  }

  &[title="Constant"] {
    background-color: #a1d2fb;
  }
}

#sequencer {
  margin-block: var(--margin);
  font-size: 1.1rem;
  font-weight: bold;
}

#sequencer > div {
  display: grid;
  grid-template-columns: 1fr auto;
}

#sequencer a div {
  font-weight: normal;
  font-size: 0.9rem;
  margin-bottom: 4px;
}

#sequencer .next {
  text-align: right;
}

@media (width <= 1100px) {
  body {
    grid-template-columns: auto 5fr 2fr;
  }
}

@media (width <= 950px) {
  body {
    grid-template:
      "header header" auto
      "title title" auto
      "sidebar sidebar" auto
      "main main" 1fr
      / auto 1fr;
  }

  header {
    padding: 0;
  }

  nav {
    justify-content: left;
  }
}

@media (width <= 700px) {
  html {
    scroll-padding-top: 20px;
  }

  body {
    grid-template:
      "header" auto
      "header" auto
      "title" auto
      "sidebar" auto
      "main" 1fr
      / 1fr;
  }

  header {
    padding: 0;
    gap: 20px;
  }

  #logo {
    margin-inline: auto;
  }

  nav {
    justify-content: center;
  }

  #sidebar {
    margin-left: 0;
  }

  kbd,
  code {
    white-space: normal;
  }
}

@media print {
  header {
    display: none;
  }

  body {
    display: block;
  }

  #sidebar {
    display: none;
  }

  article > * {
    margin-bottom: 30px !important;
  }

  pre code {
    white-space: pre-wrap;
  }

  #sequencer {
    display: none;
  }
}

.ptls .call,
.ptls .std {
  color: #256bd7;
}

.ptls .string {
  color: #387a13;
}

.ptls .quotes {
  color: #157c8d;
}

.ptls .comment {
  color: #707070;
}

.ptls .keyword,
.ptls .interpolated,
.ptls .escape {
  color: #a34baf;
}

.ptls .function {
  color: #027e7e;
}

.ptls .argument,
.ptls .number {
  color: #a95f00;
}

.ptls .operator,
.ptls .constant {
  color: #c14a1c;
}
